.App {
  height: 100%;
  background: white;
}

.calculator {
  width: 325px;
  height: auto;
  margin: 100px auto;
  padding: 20px 20px 9px;
  background: #9dd2ea;
  background: linear-gradient(#9dd2ea, #8bceec);
  border-radius: 3px;
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.clear, .btn {
  font-size: 20px;
  float: left;
  background: #ff9fa8;
  box-shadow: 0px 4px #ff7c87;
  color: white;
  position: relative;
  top: 0;
  cursor: pointer;
  width: 66px;
  height: 36px;
  border-radius: 3px;
  margin: 0 7px 11px 0;
  line-height: 36px;
  text-align: center;
  user-select: none;
  transition: all 0.2s ease;
}

.screen {
  height: 40px;
  width: 212px;
  float: right;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  letter-spacing: 1px;
}

.keys, .top {
  overflow: hidden;
}

.operator {
  background: springgreen;
  margin-right: 0;
}

.eval {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
  color: #888e5f;
}

.eval {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
  color: #888e5f;
}

